---
import { getBlogPosts } from "./BlogPosts";

interface Props {
  limit?: number;
}

const { limit } = Astro.props;

const posts = await getBlogPosts(limit);
---

<div style="display: grid; row-gap: 1rem;">
  {
    posts.map((post) => (
      <div>
        <a href={`/blog/${post.id}`}>{post.data.title}</a>
        <div style="font-size: small">
          {new Intl.DateTimeFormat("ja-JP", { dateStyle: "long" }).format(
            post.data.pubDate,
          )}
        </div>
      </div>
    ))
  }
</div>
