---
import { getBlogPosts } from './BlogPosts';

interface Props {
	limit?: number
}

const { limit } = Astro.props;

const posts = await getBlogPosts(limit);
---

<ul>
	{posts.map((post) => (
		<li><a href={`/blog/${post.id}`}>{post.data.title}</a></li>
	))}
</ul>
