---
import { author } from "../../../constants";

---

<section>
	<h2>{author}</h2>
	<p>ソフトウェアエンジニア</p>
	<p>1996年生まれ</p>
	<p>2025年に川崎から金沢に移住</p>
</section>

<style>
	h2 {
		margin-bottom: 0.5rem;
	}
</style>
