---
import Layout from './Layout.astro';

interface Props {
	frontmatter: {
		title: string;
		pubDate: string;
	};
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} showRecentPosts>
	<article>
		<h1>{frontmatter.title}</h1>
		<slot />
	</article>
</Layout>
