---
import Layout from "./Layout.astro";
import BuyMeACoffee from "./components/BlogPost/BuyMeACoffee.astro";

interface Props {
  title: string;
  pubDate: Date;
  updatedDate?: Date;
}

const { title } = Astro.props;
---

<Layout title={title} showRecentPosts>
  <article class="post-content">
    <h1>{title}</h1>
    <slot />
    <div class="support-link">
      <BuyMeACoffee />
    </div>
  </article>
</Layout>

<style is:global>
  .post-content h1,
  .post-content h2,
  .post-content h3 {
    margin-bottom: 0.5rem;
  }

  .post-content h2,
  .post-content h3 {
    margin-top: 1.5rem;
  }

  .post-content p,
  .post-content ul {
    margin-bottom: 1rem;
  }

  .post-content img {
    height: auto;
    margin: 1.5rem 0;
  }

  .post-content .support-link {
    margin-top: 1rem;
  }
</style>
