---
import Layout from './Layout.astro';
import BuyMeACoffee from './components/BuyMeACoffee.astro';

interface Props {
	frontmatter: {
		title: string;
		pubDate: string;
	};
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} showRecentPosts>
	<article class="post-content">
		<h1>{frontmatter.title}</h1>
		<slot />
		<div class="support-link">
			<BuyMeACoffee />
		</div>
	</article>
</Layout>

<style is:global>
	.post-content h1,
	.post-content h2,
	.post-content h3 {
		margin-bottom: 0.5rem;
	}

	.post-content h2,
	.post-content h3 {
		margin-top: 1.5rem;
	}

	.post-content p {
		margin-bottom: 1rem;
	}

	.post-content .support-link {
		margin-top: 1rem;
	}
</style>
