---
import Layout from '../layouts/Layout.astro';

type BlogPost = {
	url: string;
	frontmatter: {
		title: string;
		pubDate: string;
	};
};

const postModules = import.meta.glob<BlogPost>('./blog/*.md', { eager: true });
const posts = Object.values(postModules).sort(
	(a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate),
);
---

<Layout title="最新の投稿">
	<h1>最新の投稿</h1>
	<ul>
		{posts.map((post) => (
			<li><a href={post.url}>{post.frontmatter.title}</a></li>
		))}
	</ul>
</Layout>
