---
import BlogPosts from '../components/BlogPosts.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="最新の投稿">
	<h1>最新の投稿</h1>
	<BlogPosts />
</Layout>

<style>
	h1 {
		margin-bottom: 0.5rem;
	}
</style>
