---
import { Image } from 'astro:assets';
import icon from '../../assets/icon.png';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<header class={className}>
	<a href="/">
		<Image src={icon} alt="Blog" width={48} />
	</a>
</header>
