---
import { author } from "../../../constants";
---

<div>
  <a
    href="https://buy.stripe.com/4gMdRa6Rz2uieD35wYbZe00"
    target="_blank"
    rel="noopener noreferrer"
  >
    {author}にコーヒーを渡す
  </a>
</div>
