---
import { author } from "../../../constants";
---

<div>
  <a
    href="https://buy.stripe.com/4gMdRa6Rz2uieD35wYbZe00"
    target="_blank"
    rel="noopener noreferrer"
    id="buy-me-a-coffee-link"
  >
    {author}にコーヒーを渡す
  </a>
</div>

<script>
  import "./BuyMeACoffee.script";
</script>
